@charset "utf-8";
// -----
// 設定
// -----

// 色
$color-text-base-black: #333;
$color-text-base-white: #fff;
$color-background-base: #f3f3f3;
$color-button: #ffaa3b;
$color-hover: #4973ff;
$color-active: #ff4646;

//レイアウト幅
$layout-width-canvas: 1366px;
$layout-width-inner: 1201px;

// 余白
$padding-sp: 15px;

// ブレイクポイント
$breakpoints: (
  "sp": "(max-width: 767px)",
  "pc": "(min-width: 768px)",
);

// メディアクエリー
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
} // Googleフォント
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

// フォント
$font-family-base: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo,
  "Droid Sans", sans-serif;
$font-family-english: "Montserrat", sans-serif;
$font-size-base: 16px;
$font-weight-base: 400;
$line-height-base: 1.6;

// -----
// 初期化
// -----
body {
  font-family: $font-family-base;
  background-color: #f3f3f3;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  color: $color-text-base-black;
  line-height: $line-height-base;
}

// フォーム周り
input[type="text"],
[type="email"] {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
}
// ラジオボタン
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label {
  // background: #ff0000;
}
// チェックボックス
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + label {
  // background: #ff0000;
}
// セレクトボックス
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
}
// テキストエリア
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
}
// ボタン
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

// 共通クラス
.inner {
  margin: 0 auto;
  max-width: 1180px;
  @include mq("sp") {
    padding: 0 15px;
  }
}
.util-ttl {
  font-size: 36px;
  letter-spacing: calc(44 / 36);
  font-weight: bold;
  font-family: $font-family-english;
  @include mq("sp") {
    font-size: 30px;
  }
}
.util-link {
  display: inline-block;
  font-family: $font-family-english;
  line-height: calc(22.5 / 20);
  font-size: 20px;
  font-weight: bold;
  color: $color-text-base-black;
  padding: 20px 86px;
  border: solid 1px $color-text-base-black;
}

.inner {
  min-width: 960px;
  margin: 0 auto;
}

@include mq("pc") {
  .is-pc {
    display: none;
  }
}

@include mq("sp") {
  .is-sp {
    display: none;
  }
}
/*-------------------------
header
------------------------- */

.header {
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 100;
  font-family: $font-family-english;
  @include mq("pc") {
    height: 80px;
  }
  @include mq("sp") {
    height: 68px;
  }
}
.header-inner {
}
.header-nav {
}
.header-logo {
  @include mq("sp") {
    padding: 21.5px 0;
  }
}
.header-list {
  display: flex;
  justify-content: center;
  align-items: center;
  @include mq("sp") {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 190px;
  }
}
.header-item {
  line-height: calc(19 / 16);
  transition: border-bottom 0.4s;
  :hover {
    border-bottom: $color-text-base-black 1px solid;
  }
  @include mq("pc") {
    & + & {
      margin-left: 40px;
    }
  }
  @include mq("sp") {
    margin: 0 auto;
    text-align: center;
    & + & {
      margin-top: 30px;
    }
  }
}
.header-item-link {
  color: $color-text-base-black;
  padding: 0.5em 0;
  @include mq("sp") {
    font-size: 18px;
  }
}

/*-------------------------
mv
------------------------- */
.mv {
  position: relative;
  background: url(../img/mv.png);
  background-position: 24% center;
  background-size: cover;
  height: 648px;
}
.mv-inner {
  max-width: 1140px;
  margin: 0 auto;
  padding: 218px 20px 0 0;
  width: 100%;
  @include mq("sp") {
    padding: 200px 15px 0;
  }
}
.mv-body {
  margin-left: auto;
  max-width: 524px;
  @include mq("pc") {
    padding-left: 23px;
  }
  @include mq("sp") {
    width: 100%;
  }
}
.mv-ttl {
  font-size: 30px;
  letter-spacing: 0.02px;
  font-weight: bold;
  line-height: calc(45 / 30);
  @include mq("sp") {
    font-size: 24px;
    line-height: calc(45 / 24);
  }
}
.mv-txt {
  font-size: 18px;
  line-height: calc(26 / 18);
  letter-spacing: 0.45px;
  margin-top: 40px;
  @include mq("sp") {
    font-size: 16px;
  }
}
.mv-link-box {
  @include mq("sp") {
    text-align: center;
  }
}
.mv-link {
  display: inline-block;
  font-weight: bold;
  border-radius: 10px;
  font-size: 18px;
  line-height: calc(26 / 18);
  letter-spacing: 0.45px;
  padding: 14px 48px;
  color: $color-text-base-white;
  background-color: $color-button;
  margin-top: 40px;
  transition: background-color 0.4s;
  &:hover {
    background-color: #ff8300;
  }
  @include mq("sp") {
    padding: 14px 24px;
  }
}

/*-------------------------
news
------------------------- */
.news {
  margin: 130px auto 0;
  max-width: 1260px;
  padding: 0 40px;
  width: 100%;
  @include mq("sp") {
    width: 90%;
    position: relative;
    z-index: 1;
    padding: 0;
    margin: -25px 20px 0;
  }
}
.news-inner {
  margin: 0 auto;
  width: 100%;
  padding: 60px 50px 40px;
  background-color: #fff;
  @include mq("sp") {
    padding: 40px 0;
  }
}
.news-ttl {
  text-align: center;
}
.news-list {
  @include mq("pc") {
    margin-top: 50px;
  }
  @include mq("sp") {
    margin-top: 40px;
  }
  border-top: solid 2px #f0f0f0;
}
.news-item {
  border-bottom: solid 2px #f0f0f0;
}
.news-item-link {
  display: flex;
  position: relative;
  align-items: center;
  padding: 38px 60px 38px 12px;
  color: $color-text-base-black;
  letter-spacing: calc(26 / 18);
  transition: background-color 0.4s;
  &:after {
    border-right: solid 3px #3e3e3e;
    border-top: solid 3px #3e3e3e;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 15px;
  }
  &:hover {
    background-color: rgba($color-hover, 0.2);
  }
  @include mq("sp") {
    display: block;
    padding: 4px 47px 16px 16px;
  }
}
.news-item-date {
  font-family: $font-family-english;
  white-space: nowrap;
  @include mq("sp") {
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: calc(26 / 14);
  }
}
.news-item-category {
  background: #fff;
  display: inline-block;
  border: 2px solid $color-hover;
  letter-spacing: 0.35px;
  font-size: 14px;
  line-height: calc(26 / 14);
  margin-left: 60px;
  border-radius: 30px;
  padding: 1px 30px;
  white-space: nowrap;
  @include mq("sp") {
    margin-left: 20px;
    padding: 0 18px;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: calc(26 / 18);
  }
}
.news-item-txt {
  @include mq("pc") {
    margin-left: 60px;
  }
  @include mq("sp") {
    margin-top: 6px;
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: calc(22 / 14);
  }
}
.news-link-box {
  margin-top: 40px;
  text-align: center;
  @include mq("sp") {
    padding: 0 16px;
  }
}
.news-link-button {
  transition: background-color 0.4s;
  &:hover {
    background-color: $color-text-base-black;
    color: $color-text-base-white;
    border: solid 1px $color-text-base-white;
  }
  @include mq("sp") {
    width: 100%;
  }
}
/*-------------------------
service
------------------------- */
.service {
  margin-top: 130px;
  background: linear-gradient(to bottom, #3e3e3e 0, #3e3e3e 400px, transparent 400px, transparent 100%);
  @include mq("sp") {
    margin-top: 60px;
    background: linear-gradient(to bottom, #3e3e3e 0, #3e3e3e 600px, transparent 600px, transparent 100%);
  }
}
.service-ttl {
  text-align: center;
  color: #fff;
  padding: 70px 0 0;
  @include mq("sp") {
    padding: 35px 0 0;
  }
}
.service-inner {
  margin: 80px auto 0;
  @include mq("sp") {
    padding: 0 15px;
    margin: 40px auto 60px;
  }
}
.service-list {
  max-width: 960px;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  @include mq("sp") {
    display: block;
    padding: 40px 16px;
  }
}
.service-item {
  flex: 0 1 33.3333%;
  padding: 54px 45px;
  text-align: center;
  @include mq("sp") {
    padding: 0;
    & + & {
      margin-top: 65px;
    }
  }
}
.service-item-pic {
}
.service-item-ttl {
  margin-top: 30px;
  font-family: $font-family-english;
  font-size: 20px;
  line-height: calc(30 / 20);
  letter-spacing: 4px;
  font-weight: 600;
  @include mq("sp") {
    font-size: 18px;
    margin-top: 20px;
  }
}
.service-item-txt {
  margin-top: 20px;
  font-size: 14px;
  line-height: calc(24 / 14);
  text-align: left;
  @include mq("sp") {
    font-size: 14px;
  }
}
/*-------------------------
results
------------------------- */
.results {
  background-color: $color-text-base-black;
  @include mq("pc") {
    max-width: calc(50vw + 590px);
    margin: 110px 0 0 auto;
    padding: 80px 0 80px 110px;
  }
  @include mq("sp") {
    padding: 35px 15px;
  }
}
.results-ttl {
  color: #fff;
  @include mq("sp") {
    text-align: center;
  }
}
.results-container {
  @include mq("pc") {
    margin-top: 10px;
  }
}
.results-list {
}
.results-item {
  width: 422px !important;
  display: block;
  background-color: $color-text-base-white;
  box-sizing: content-box;
  @include mq("sp") {
    & + & {
      margin-left: 40px;
      @include mq("sp") {
        margin-left: 24px;
      }
    }
  }
  @include mq("sp") {
    width: 276.45px !important;
  }
}
.results-item-link {
  color: $color-text-base-black;
}
.results-item-pic {
  img {
    @include mq("sp") {
      width: 276.45px !important;
    }
  }
}
.results-item-body {
  padding: 20px;
  @include mq("sp") {
    padding: 12px;
  }
}

.results-item-ttl {
  font-size: 20px;
  font-weight: bold;
  line-height: calc(24 / 20);
  letter-spacing: 0.01px;
  @include mq("sp") {
    font-size: 15px;
  }
}
.results-item-txt {
  margin-top: 20px;
  @include mq("sp") {
    font-size: 12px;
  }
}
.results-link-box {
  @include mq("sp") {
    text-align: center;
  }
}
.results-link-button {
  margin-top: 52px;
  color: #fff;
  border: solid 1px $color-text-base-white;
  transition: background-color 0.4s;
  letter-spacing: 4px;
  &:hover {
    background-color: $color-text-base-white;
    color: $color-text-base-black;
    border: solid 1px $color-text-base-black;
  }
  @include mq("sp") {
    width: 100%;
  }
}

// pagination
.results-pagination {
  position: static !important;
  padding-top: 48px;
  @include mq("pc") {
    text-align: left;
  }
  @include mq("sp") {
    padding-top: 24px;
  }
}

.results-pagination .swiper-pagination-bullet {
  background: #fff;
  height: 12px;
  margin: 0 10px !important;
  opacity: 1;
  position: relative;
  width: 12px;
}

.results-pagination .swiper-pagination-bullet:focus {
  outline: none;
}

.results-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:after {
  border: solid 1px #fff;
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 20px;
}

/*-------------------------
price
------------------------- */
.price {
  margin: 76px auto 0;
  max-width: 1040px;
  padding: 0 40px;
  width: 100%;
  @include mq("sp") {
    padding: 0 15px;
  }
}
.price-ttl {
  text-align: center;
}
.price-table {
  width: 100%;
  border-collapse: collapse;
  font-family: $font-family-english;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-all;
  margin-top: 78px;
  @include mq("sp") {
    margin-top: 40px;
  }
  tr {
    border: 1px solid #707070;
    padding: 15px 40px;
  }
  th {
    background-color: $color-text-base-black;
    color: $color-text-base-white;
    width: 30%;
  }
  td {
    padding: 15px 40px;
    background-color: #fff;
  }
}
.price-txt {
  max-width: 960px;
}

/*-------------------------
Black Back Ground
------------------------- */

.bg-wrapper {
  position: relative;

  &::before {
    background: #3e3e3e;
    content: "";
    display: block;
    position: absolute;
    @include mq("pc") {
      bottom: 72px;
      top: 150px;
      width: 71.7%;
    }
    @include mq("sp") {
      bottom: 0;
      left: 0;
      top: 60px;
      width: 100%;
    }
  }
}

/*-------------------------
Comments
------------------------- */

.comments {
  margin-top: 130px;
  position: relative;
}
.comments-inner {
  display: flex;
  margin: 0 auto;
  max-width: 1180px;
  position: relative;
  width: 100%;
  @include mq("sp") {
    padding: 0 15px;
  }
}
.comments-content {
  padding: 80px 40px 120px;
  box-shadow: 0px 0px 10px #00000029;
  background: $color-text-base-white;
  @include mq("sp") {
    width: 100%;
    padding: 40px 20px;
  }
}
.comments-body {
  display: flex;
  margin-top: 80px;
  @include mq("sp") {
    width: 100%;
    margin-top: 42px;
    & + & {
      margin-top: 31px;
    }
  }
}
.comments-pic {
}
.comments-txt {
  margin-left: 50px;
  @include mq("sp") {
    margin-left: 24px;
  }
}
.comments-fig {
  margin-top: 126px;
  width: 100%;
  position: relative;
  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/*-------------------------
inquiry
------------------------- */
.inquiry {
  margin: 130px auto 0;
  background: url(../img/sunyu-kim-1053375-unsplash@2x.png) center center / cover;
  padding: 80px 0 80px;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}
.inquiry-inner {
  margin: 0 auto;
  @include mq("pc") {
    max-width: 1144px;
  }
  @include mq("sp") {
    padding: 0 15px;
  }
}
.inquiry-ttl {
  text-align: center;
  width: 100%;
}
.inquiry-list {
  margin-top: 80px;
  margin-left: auto;
  max-width: 614px;
  @include mq("sp") {
    margin-top: 40px;
  }
}
.inquiry-item {
  background-color: #fff;
  border-radius: 7px;
  padding: 18px;
  & + & {
    margin-top: 40px;
  }
}
.inquiry-item-question {
  align-items: center;
  display: flex;
  position: relative;
  &:before {
    content: "Q";
    background: #4973ff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    flex: 0 0 26px;
    font-family: "Montserrat", sans-serif;
    height: 26px;
    line-height: 26px;
    text-align: center;
  }
}
.inquiry-item-question-txt {
  font-weight: bold;
  letter-spacing: 0.4px;
  margin-left: 13px;
  &:after {
    background: #4973ff;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    right: 0;
    top: 50%;
    transition: transform 0.3s;
    transform: translateY(-50%) rotate(90deg);
    width: 15px;
  }
  &:before {
    background: #4973ff;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s;
    width: 15px;
  }
}
.inquiry-item.add-active .inquiry-item-question-txt:after {
  transform: translateY(-50%) rotate(0);
}

.inquiry-item-answer {
  margin-top: 20px;
  padding: 18px 14px;
  background-color: #3b69ff33;
  border-radius: 7px;
  display: none;
}

/*-------------------------
access
------------------------- */
.access {
  position: relative;
  display: grid;
  grid-template-columns: 420px 1fr;
  grid-template-rows: auto 1fr;
  max-width: 1260px;
  padding: 0 40px;
  z-index: 99;
  margin: 130px auto 0;
  @include mq("pc") {
    grid-template-areas:
      "areaA areaC"
      "areaB areaC";
  }
  @include mq("sp") {
    grid-template-areas:
      "areaA"
      "areaC"
      "areaB";
    grid-template-columns: 1fr;
    padding: 40px 15px;
    margin: 0;
  }
}
.access-inner {
  grid-area: areaA;
}
.access-link-box {
  grid-area: areaB;
}

.access-ttl {
  color: #fff;
}
.access-address {
  color: $color-text-base-white;
  margin-top: 40px;
}
.access-link-box {
  margin-top: 40px;
}
.access-link-button {
  color: $color-text-base-white;
  border: $color-text-base-white 1px solid;
  font-family: $font-family-english;
  font-weight: bold;
  letter-spacing: 2px;
  @include mq("sp") {
    width: 100%;
    text-align: center;
    letter-spacing: 1.8px;
    line-height: calc(22.5 / 18);
  }
  &:hover {
    background-color: $color-text-base-black;
    color: $color-text-base-white;
    border: solid 1px $color-text-base-white;
  }
}
.access-map {
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
  grid-area: areaC;
  flex: 0 1 720px;
  position: relative;
  @include mq("pc") {
    width: 100%;
    height: 515px;
    margin-left: 35px;
    iframe {
      @include mq("pc") {
        width: 100%;
        top: 0;
        left: 0;
      }
    }
  }
  @include mq("sp") {
    margin-top: 20px;
    position: relative;
    width: 100%;
    iframe {
      @include mq("sp") {
        height: 240px;
        width: 100%;
        top: 0;
        left: 0;
      }
    }
  }
}

/*-------------------------
contact
------------------------- */
.contact {
  background: url(../img/contact_bg.png);
  margin-top: 130px;
  padding: 80px 0;
  @include mq("sp") {
    padding: 40px 15px;
  }
}
.contact-inner {
  max-width: 960px;
  margin: 0 auto;
  background: #fff;
  border-radius: 12px;
}
.contact-header {
  background: url(../img/contact1.png);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: $color-text-base-white;
  text-align: center;
  border-radius: 12px 12px 0 0;
  @include mq("pc") {
    padding: 61.5px 0px;
  }
  @include mq("sp") {
    padding: 32px 0px;
  }
}
.contact-content {
  @include mq("pc") {
    padding: 56px 90px 58px;
  }
  @include mq("sp") {
    padding: 40px 16px;
  }
}
.contact-list {
}

.contact-item {
  font-size: 22px;
  @include mq("pc") {
    & + & {
      margin-top: 40px;
    }
    &:not(.message) {
      display: flex;
    }
  }
  @include mq("sp") {
    display: block;
    & + & {
      margin-top: 40px;
    }
  }
}
.contact-item-ttl {
  @include mq("pc") {
    flex: 0 0 195px;
  }
}
.contact-input-box,
.contact-select-box,
.contact-radio-box {
  @include mq("pc") {
    margin-left: 80px;
  }
}
.contact-input-box {
  width: 100%;
}

// select box
.contact-select-box {
  border: solid 1px #3e3e3e;
  border-radius: 0;
  color: #3e3e3e;
  height: 32px;
  line-height: 32px;
  outline: none;
  transition: box-shadow 0.2s;
  outline: none;
  position: relative;
  &:after {
    border-bottom: solid 2px #3e3e3e;
    border-right: solid 2px #3e3e3e;
    content: "";
    display: block;
    height: 6px;
    position: absolute;
    right: 10px;
    top: 12px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 6px;
  }
  select {
    width: 100%;
    padding: 0 95px 0 10px;
  }
  &:hover {
    border: #4973ff 1px solid;
  }
  &:focus {
    border: #4973ff 1px solid;
  }
}
// Kanji, Kana, email
.contact-item input[type="text"],
.contact-item input[type="email"] {
  border-bottom: solid 1px #3e3e3e;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.03em;
  padding: 0 0.5em;
  position: relative;
  width: 100%;
  &:hover {
    border-color: #4973ff;
    outline: none;
  }
  &:focus {
    border-color: #4973ff;
    outline: none;
  }
}
.contact-item-ttl {
  position: relative;
}
// label
.contact-item-label {
  background-color: #ff4646;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  padding: 0 10px;
  position: absolute;
  right: 0;
  @include mq("sp") {
    display: inline-block;
    margin-left: 20px;
    position: relative;
  }
}
// gender
.contact-radio-box {
  @include mq("sp") {
    display: inline-block;
    & + & {
      margin-left: 60px;
    }
  }
}
.contact-radio-input {
  display: inline-block;
}
.contact-radio-label {
  cursor: pointer;
  padding-left: 25px;
  position: relative;
  &::before {
    background: #fff;
    border: solid 1px #3e3e3e;
    border-radius: 50%;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    @include mq("pc") {
      height: 12px;
      top: 3px;
      width: 12px;
    }
    @include mq("sp") {
      height: 10px;
      top: 2px;
      width: 10px;
    }
  }
  &::after {
    background: #4973ff;
    border-radius: 50%;
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
    transition: 0.2s;
    @include mq("pc") {
      top: 7px;
      left: 4px;
      height: 6px;
      width: 6px;
    }
    @include mq("sp") {
      top: 5px;
      left: 3px;
      height: 6px;
      width: 6px;
    }
  }
  &:hover {
    &:before {
      border-color: #4973ff;
      box-shadow: 0 0 4px #4973ff;
    }
  }
}
input[type="radio"]:checked + .contact-radio-label:after {
  opacity: 1;
}

// textarea
.contact-textarea-box {
  border: solid 1px #3e3e3e;
  border-radius: 0;
  font-size: 16px;
  height: 200px;
  margin-top: 8px;
  padding: 0.5em;
  transition: 0.2s;
  width: 100%;
  &:hover {
    border: #4973ff 1px solid;
  }
  &:focus {
    border: #4973ff 1px solid;
  }
  textarea {
    width: 100%;
    height: 100%;
  }
}
// privacy policy
.contact-privacy {
  display: inline-block;
  margin-top: 16px;
  @include mq("sp") {
    width: 100%;
  }
}
.contact-privacy-label {
  cursor: pointer;
  display: block;
  font-size: 18px;
  padding-left: 38px;
  position: relative;
  &:before {
    background: #fff;
    border: solid 1px #3e3e3e;
    content: "";
    display: block;
    height: 16px;
    left: 0;
    position: absolute;
    top: 2px;
    transition: 0.2s;
    width: 16px;
  }
  &:after {
    border-bottom: solid 2px #4973ff;
    border-left: solid 2px #4973ff;
    content: "";
    display: block;
    height: 4px;
    left: 2px;
    opacity: 0;
    position: absolute;
    top: 7px;
    transform: rotate(-45deg);
    transition: 0.2s;
    width: 12px;
  }
  &:hover {
    &:before {
      border-color: #4973ff;
      box-shadow: 0 0 4px #4973ff;
    }
  }
}
input[type="checkbox"]:checked + .contact-privacy-label:after {
  opacity: 1;
}
// submit
.contact-button-wrapper {
  @include mq("sp") {
    text-align: center;
  }
}
.contact-privacy-button {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  border-radius: 10px;
  font-size: 18px;
  line-height: calc(26 / 18);
  letter-spacing: 0.45px;
  padding: 14px 48px;
  color: $color-text-base-white;
  background-color: #b2b2b2;
  margin-top: 40px;
  transition: background-color 0.4s;
  @include mq("sp") {
    padding: 14px 24px;
    text-align: center;
  }
}
.contact-privacy-button:not(:disabled):hover {
  background-color: #f18900;
}
.contact-message {
  text-align: center;
  margin-top: 60px;
  display: none;
  &.-error {
    color: red;
  }
}
/*-------------------------
footer
------------------------- */
.footer {
  background: #3e3e3e;
  padding: 110px 93px 100px;
  @include mq("sp") {
    padding: 63px 15px 92px;
  }
}
.footer-inner {
  // max-width: 1040px;
  margin: 0 auto;

  display: flex;
  @include mq("sp") {
    display: block;
  }
}
.footer-nav {
}
.footer-sns-list {
  display: flex;
  @include mq("sp") {
    justify-content: space-around;
  }
}
.footer-sns-item {
  a {
    font-size: 36px;
    color: $color-text-base-white;
    opacity: 0.6;
  }
  & + & {
    margin-left: 20px;
  }
}
.footer-info-list {
  margin-top: 40px;
  @include mq("sp") {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 24px;
  }
}
.footer-info-item {
  @include mq("pc") {
    & + & {
      margin-top: 20px;
    }
  }
  a {
    color: $color-text-base-white;
  }
  @include mq("sp") {
    flex: 0 0 50%;
    text-align: center;
    &:nth-child(3) {
      margin-top: 24px;
    }
  }
}
.footer-company {
  margin-left: auto;
  color: $color-text-base-white;
}
.footer-company-name {
  font-size: 44px;
  line-height: calc(77 / 44);
  @include mq("pc") {
    margin-top: 44px;
  }
  @include mq("sp") {
    font-size: 34.4px;
    text-align: center;
  }
}
.footer-company-copyright {
  margin-top: 18px;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.3px;
  text-align: right;
  @include mq("sp") {
    text-align: center;
  }
}
